<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Welcome to GemQuest</title>
</head>
<body>
  <h1>Welcome, {{username}}!</h1>
  <p>
    Thank you for registering with GemQuest. Please click the link below to confirm your email address:
  </p>
  <a href="{{confirmationLink}}">Confirm my account</a>
  <p>If you did not sign up for an account, please ignore this email.</p>
</body>
</html>
